data/*
dataset/*
checkpoints/*
results/*
!data/.gitkeep
!dataset/.gitkeep
!checkpoints/.gitkeep
!results/.gitkeep

*.pt
*.pth
*.ckpt
*.npy
*.npz
*.pkl
*.pickle
*.h5
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
